


:root {
--color-principal: #3498db;
--color-fons: #222;
--font-base: 'Arial, sans-serif';
}

nav ul li a {
    color: white;
}

body {
     background-color: #222;
      color: #CCC;
       font-family: Arial, sans-serif;
        font-size: 16px;
         margin: 30px;
}



/* Paràgraf destacat */
.intro {
    font-size: 32px;
    font-weight: bold;
    color: #00FFFF;
    background-color: #333;
    padding: 15px;
    border-left: 6px solid #00FFFF;
}

/* Enllaç Fuente amb pseudo-classes */
.fuente {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.fuente:hover {
    color: orange;
    text-decoration: overline;
}

.fuente:visited {
    color: pink;
}

/* Enllaços del menú */
nav ul {
    list-style: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: orange;
}


h1 {
    color: rgb(42, 250, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
h2 {
    color: rgb(0, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
}
p {
    text-align: justify;
}
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.articles section {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
}


input{
background-color: var(--color-principal);
color: var(--color-fons);
font-family: var(--font-base);
}

/* Pantalles MENORS de 600px */
@media (width < 600px) {
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}

 /*Pantalles entre 600px i 1279px */
@media (width >= 600px) and (width < 1280px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
}

 /*Pantalles MAJORS de 1280px */
 @media ( width > 1280px) {
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
}


